<section class="container py-5 border-bottom border-top">
	<div class="row pt-5 justify-content-between">
		<div class="col-lg-6 space-grotesk">
			<h1 class="col-lg-8 display-4 fw-bolder mb-4">{{ 'coaching.benifits.title'|trans }}</h1>
		</div>
		<div class="col-lg-6 text-justify">
			<p class="fs-5 text-secondary">
				{{ 'coaching.benifits.description'|trans }}
			</p>
		</div>
	</div>
	<div class="benefits-carousel py-5">
		<div class="carousel-item px-2">
			<img src="{{ asset('build/images/b1.png') }}" alt="Morgan B." class="w-100 mb-2">
			<h5>{{ 'coaching.benifits.carrosel.title1'|trans }}</h5>
{#
			<p class="text-justify">{{ 'coaching.benifits.carrosel.p1'|trans }}</p>
#}
		</div>
		<div class="carousel-item px-2">
			<img src="{{ asset('build/images/b2.png') }}" alt="Morgan B." class="w-100 mb-2">
			<h5>{{ 'coaching.benifits.carrosel.title2'|trans }}</h5>
{#
			<p class="text-justify">{{ 'coaching.benifits.carrosel.p2'|trans }}</p>
#}
		</div>
		<div class="carousel-item px-2">
			<img src="{{ asset('build/images/b3.png') }}" alt="Morgan B." class="w-100 mb-2">
			<h5>{{ 'coaching.benifits.carrosel.title3'|trans }}</h5>
{#
			<p class="text-justify">{{ 'coaching.benifits.carrosel.p3'|trans }}</p>
#}
		</div>
		<div class="carousel-item px-2">
			<img src="{{ asset('build/images/b4.png') }}" alt="Morgan B." class="w-100 mb-2">
			<h5>{{ 'coaching.benifits.carrosel.title4'|trans }}</h5>
{#
			<p class="text-justify">{{ 'coaching.benifits.carrosel.p4'|trans }}</p>
#}
		</div>

		<div class="carousel-item px-2">
			<img src="{{ asset('build/images/b4.png') }}" alt="Morgan B." class="w-100 mb-2">
			<h5>{{ 'coaching.benifits.carrosel.title5'|trans }}</h5>
			{#
			<p class="text-justify">{{ 'coaching.benifits.carrosel.p4'|trans }}</p>
			#}
		</div>

		<div class="carousel-item px-2">
			<img src="{{ asset('build/images/b4.png') }}" alt="Morgan B." class="w-100 mb-2">
			<h5>{{ 'coaching.benifits.carrosel.title6'|trans }}</h5>
			{#
			<p class="text-justify">{{ 'coaching.benifits.carrosel.p4'|trans }}</p>
			#}
		</div>

		<div class="carousel-item px-2">
			<img src="{{ asset('build/images/b4.png') }}" alt="Morgan B." class="w-100 mb-2">
			<h5>{{ 'coaching.benifits.carrosel.title7'|trans }}</h5>
			{#
			<p class="text-justify">{{ 'coaching.benifits.carrosel.p4'|trans }}</p>
			#}
		</div>

		<div class="carousel-item px-2">
			<img src="{{ asset('build/images/b4.png') }}" alt="Morgan B." class="w-100 mb-2">
			<h5>{{ 'coaching.benifits.carrosel.title8'|trans }}</h5>
			{#
			<p class="text-justify">{{ 'coaching.benifits.carrosel.p4'|trans }}</p>
			#}
		</div>

		<div class="carousel-item px-2">
			<img src="{{ asset('build/images/b4.png') }}" alt="Morgan B." class="w-100 mb-2">
			<h5>{{ 'coaching.benifits.carrosel.title9'|trans }}</h5>
			{#
			<p class="text-justify">{{ 'coaching.benifits.carrosel.p4'|trans }}</p>
			#}
		</div>
	</div>
</section>
