<section class="container py-5 border-bottom">
    <div class="row justify-content-between py-5">
        <div class="col-lg-5">
            <img src="{{ asset('build/images/i1.png') }}" alt="canal +" class="img-fluid">
        </div>
        <div class="col-lg-7">
            <h1 class="space-grotesk display-4 fw-medium mb-5">{{ 'service.indus.title2.text1'|trans }} <br>{{ 'service.indus.title2.text2'|trans }}</h1>
            <div class="accordion mt-3" id="accordionExample">
                <div class="border-top py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span class="me-4">01</span>{{ 'service.indus.textBtn'|trans }}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            <strong>{{ 'service.indus.collapseOne.text1'|trans }}</strong> {{ 'service.indus.collapseOne.text2'|trans }} <code>.{{ 'service.indus.collapseOne.text3'|trans }}</code>, {{ 'service.indus.collapseOne.text4'|trans }}
                        </div>
                    </div>
                </div>
                <div class="border-top py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <span class="me-4">02</span>{{ 'service.indus.collapseOne.item'|trans }}
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                        <strong>{{ 'service.indus.collapseTwo.text1'|trans }}</strong> {{ 'service.indus.collapseTwo.text2'|trans }} <code>.{{ 'service.indus.collapseTwo.text3'|trans }}</code>, {{ 'service.indus.collapseTwo.text4'|trans }}                        </div>
                    </div>
                </div>
                <div class="border-top py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <span class="me-4">03</span>{{ 'service.indus.collapseOne.item'|trans }}
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                        <strong>{{ 'service.indus.collapseTwo.text1'|trans }}</strong> {{ 'service.indus.collapseTwo.text2'|trans }} <code>.{{ 'service.indus.collapseTwo.text3'|trans }}</code>, {{ 'service.indus.collapseTwo.text4'|trans }}                        </div>
                    </div>
                </div>
                <div class="border-top border-bottom py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            <span class="me-4">04</span>{{ 'service.indus.collapseOne.item'|trans }}
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                        <strong>{{ 'service.indus.collapseThree.text1'|trans }}</strong> {{ 'service.indus.collapseThree.text2'|trans }} <code>.{{ 'service.indus.collapseThree.text3'|trans }}</code>, {{ 'service.indus.collapseThree.text4'|trans }}                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
