<section class="container py-5 border-bottom">
    <div class="row justify-content-between py-5">
        <div class="col-lg-5">
            <img src="{{ asset('build/images/i1.png') }}" alt="canal +" class="img-fluid">
        </div>
        <div class="col-lg-7">
            <h4 class="space-grotesk fw-medium text-primary mb-2">{{ 'training.indus.title1'|trans }}</h4>
            <h1 class="space-grotesk display-4 fw-medium mb-5">{{ 'training.indus.title2.text1'|trans }}
                <br>{{ 'training.indus.title2.text2'|trans }}</h1>
            <div class="accordion mt-3" id="accordionExample">
                <div class="border-top py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary fs-3" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true"
                                aria-controls="collapseOne">
                            <span class="me-4">01</span>{{ 'training.indus.collapseOne.item'|trans }}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            {{ 'training.indus.collapseOne.text'|trans }}</div>
                    </div>
                </div>
                <div class="border-top py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                            <span class="me-4">02</span>{{ 'training.indus.collapseTwo.item'|trans }}
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            {{ 'training.indus.collapseTwo.text'|trans }} </div>
                    </div>
                </div>
                <div class="border-top py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                            <span class="me-4">03</span>{{ 'training.indus.collapseThree.item'|trans }}
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            {{ 'training.indus.collapseThree.text'|trans }} </div>
                    </div>
                </div>
                <div class="border-top py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"
                                aria-expanded="false" aria-controls="collapseFour">
                            <span class="me-4">04</span>{{ 'training.indus.collapseFour.item'|trans }}
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            {{ 'training.indus.collapseFour.text'|trans }}  </div>
                    </div>
                </div>
                <div class="border-top py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive"
                                aria-expanded="false" aria-controls="collapseFive">
                            <span class="me-4">05</span>{{ 'training.indus.collapseFive.item'|trans }}
                        </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            {{ 'training.indus.collapseFive.text'|trans }}</div>
                    </div>

                </div>
                <div class="border-top py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix"
                                aria-expanded="false" aria-controls="collapseFour">
                            <span class="me-4">06</span>{{ 'training.indus.collapseSix.item'|trans }}
                        </button>
                    </h2>
                    <div id="collapseSix" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            {{ 'training.indus.collapseSix.text'|trans }}  </div>
                    </div>
                </div>
                <div class="border-top border-bottom py-4">
                    <h2 class="accordion-header">
                        <button class="accordion-button space-grotesk fw-medium text-secondary collapsed fs-3"
                                type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven"
                                aria-expanded="false" aria-controls="collapseFour">
                            <span class="me-4">07</span>{{ 'training.indus.collapseSeven.item'|trans }}
                        </button>
                    </h2>
                    <div id="collapseSeven" class="accordion-collapse collapse"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body ms-md-5 text-justify fs-lg-5">
                            {{ 'training.indus.collapseSeven.text'|trans }}  </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container py-5">
    <div class="row justify-content-between text-justify py-5">
        <div class="col-md-6 pe-md-3">
            <p class="fs-5 text-secondary">
                {{ 'training.indus.paragraph'|trans }}
            </p>
        </div>
        <div class="col-md-6 pe-md-3 d-flex justify-content-center">
            <img src="{{ asset('build/images/morgan.png') }}" alt="" class="img-fluid w-50">
        </div>
    </div>
    <a class="h4 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
        {{ 'services.integrations.button'|trans }}
        <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/fe697f339d3ce4c0930ff523b955cd461802f5c7db8032f509332e1cd4587b75?"
             alt="arrow" class="ms-2" width="25"/>
    </a>
</section>
