<section class="container py-5 space-grotesk border-bottom">
    <div class="row">
        <div class="col-lg-7">
            <h1 class="display-4 fw-medium mb-5">Meet our Amazing team enriched with Talent</h1>
        </div>
    </div>
    <div class="row justify-content-between align-items-center my-3">
        <div class="col-lg-3 col-6">
            <img src="{{ asset('build/images/team/morgan.jpg') }}" alt="canal +" class="img-fluid">
        </div>
        <div class="col-lg-3 col-6">
            <img src="{{ asset('build/images/team/olivier.png') }}" alt="Allianz" class="img-fluid">
        </div>
        <div class="col-lg-3 col-6 mt-lg-0 mt-2">
            <img src="{{ asset('build/images/team/t3.png') }}" alt="BNP Paribas" class="img-fluid">
        </div>
        <div class="col-lg-3 col-6 mt-lg-0 mt-2">
            <img src="{{ asset('build/images/team/yosra.jpg') }}" alt="Samusocial Paris" class="img-fluid">
        </div>
    </div>
    <div class="row justify-content-between align-items-center my-3">
        <div class="col-lg-3 col-6">
            <img src="{{ asset('build/images/team/dabin.png') }}" alt="canal +" class="img-fluid">
        </div>
        <div class="col-lg-3 col-6">
            <img src="{{ asset('build/images/team/t6.png') }}" alt="Allianz" class="img-fluid">
        </div>
        <div class="col-lg-3 col-6 mt-lg-0 mt-2">
            <img src="{{ asset('build/images/team/gary.jpg') }}" alt="BNP Paribas" class="img-fluid">
        </div>
        <div class="col-lg-3 col-6 mt-lg-0 mt-2">
            <img src="{{ asset('build/images/team/t8.png') }}" alt="Samusocial Paris" class="img-fluid">
        </div>
    </div>
</section>
