<section class="container py-5 space-grotesk border-bottom">
    <div class="row">
        <div class="col-lg-7">
            <h1 class="display-4 fw-medium mb-5">{{ 'training.workshop.title'| trans }}</h1>
        </div>
    </div>
    <div class="row justify-content-between align-items-center my-5">
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/1.png') }}" alt="canal +">
            <p class="fs-3 fw-medium mt-3">{{ 'training.workshop.t1'| trans }}</p>
            <p>{{ 'training.workshop.p1'| trans }}</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/2.png') }}" alt="canal +">
            <p class="fs-3 fw-medium mt-3">{{ 'training.workshop.t2'| trans }}</p>
            <p>{{ 'training.workshop.p2'| trans }}</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/3.png') }}" alt="canal +">
            <p class="fs-3 fw-medium mt-3">{{ 'training.workshop.t3'| trans }}</p>
            <p>{{ 'training.workshop.p3'| trans }}</p>
        </div>
    </div>
    <div class="row justify-content-between align-items-center my-5">
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/4.png') }}" alt="canal +">
            <p class="fs-3 fw-medium mt-3">{{ 'training.workshop.t4'| trans }}</p>
            <p>{{ 'training.workshop.p4'| trans }}</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/5.png') }}" alt="canal +">
            <p class="fs-3 fw-medium">{{ 'training.workshop.t5'| trans }}</p>
            <p>{{ 'training.workshop.p5'| trans }}</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/5.png') }}" alt="canal +">
            <p class="fs-3 fw-medium mt-3">{{ 'training.workshop.t6'| trans }}</p>
            <p>{{ 'training.workshop.p6'| trans }}</p>
        </div>
    </div>
</section>
