<section class="container py-5 space-grotesk text-justify border-bottom">
    <div class="row">
        <div class="col-lg-7">
            <h1 class="display-4 fw-medium mb-5">Workshop content tailored to your needs</h1>
        </div>
    </div>
    <div class="row justify-content-between align-items-center my-5">
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/1.png') }}" alt="canal +">
            <p class="fs-3 fw-medium mt-3">GPT Chat workshop</p>
            <p>Tailored AI strategies crafted specifically for your company's unique needs and challenges.</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/2.png') }}" alt="canal +">
            <p class="fs-3 fw-medium mt-3">GPT Chat workshop</p>
            <p>Tailored AI strategies crafted specifically for your company's unique needs and challenges.</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/3.png') }}" alt="canal +">
            <p class="fs-3 fw-medium mt-3">GPT Chat workshop</p>
            <p>Tailored AI strategies crafted specifically for your company's unique needs and challenges.</p>
        </div>
    </div>
    <div class="row justify-content-between align-items-center my-5">
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/4.png') }}" alt="canal +">
            <p class="fs-3 fw-medium mt-3">GPT Chat workshop</p>
            <p>Tailored AI strategies crafted specifically for your company's unique needs and challenges.</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/5.png') }}" alt="canal +">
            <p class="fs-3 fw-medium">GPT Chat workshop</p>
            <p>Tailored AI strategies crafted specifically for your company's unique needs and challenges.</p>
        </div>
        <div class="col-lg-4">
            <img src="{{ asset('build/images/icons/5.png') }}" alt="canal +">
            <p class="fs-3 fw-medium mt-3">GPT Chat workshop</p>
            <p>Tailored AI strategies crafted specifically for your company's unique needs and challenges.</p>
        </div>
    </div>
</section>
