<section class="pr__features uk-padding-remove-bottom" id="pr_features">
	<div class="uk-container">

		<div class="section-inner">
			<div class="items-listing features-boxes uk-grid uk-grid-match uk-grid-medium uk-child-width-1-2@m"
				 style="margin-bottom: 20px;"
				 data-uk-grid="">

				<div class="item compare">

					<div class="inner">
						<h3 class="title uk-h4" style="margin-top: 0">{{ 'Without Kodkodkod Studio'|trans }} <i data-feather="x" style="color:red"></i></h3>
						<hr class="line pr__hr__secondary">
						<ul>
							<li>
								{{ 'Not close to you'|trans }}
							</li>
							<li>
								{{ 'Lack of responsiveness to your requests'|trans }}
							</li>
							<li>
								{{ 'Poor quality code'|trans }}
							</li>
							<li>
								{{ 'Little involvement'|trans }}
							</li>
						</ul>

					</div>
				</div>

				<div class="item compare">
					<div class="inner">
						<h3 class="title uk-h4" style="margin-top: 0">{{ 'With Kodkodkod Studio'|trans }} <i data-feather="check" style="color:green"></i></h3>
						<hr class="line pr__hr__secondary">
						<ul>
							<li>
								{{'The agility of a freelancer with the strength of a group'|trans}}
							</li>
							<li>
								{{'Availability of the studio 20h/24h'|trans}}

							</li>
							<li>
								{{'A selection of the best coders around the world'|trans}}
							</li>
							<li>
								{{'We understand your challenges as if they were ours'|trans}}
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</section>
