<section class="hero d-flex pt-5" style="background-image: url('{{ asset('build/images/backgrounds/home.png') }}');">
	<div class="container pt-5">
		<div class="col-12 text-center mt-md-5 pt-md-5">
			<h1 class="text-white plus-jakarta-sans display-2 fw-bold mb-4 mt-5">{{ "pageHome.introLine1" | trans }}
				<br>
                    <span class="text-gradiant">{{ "pageHome.introLine2" | trans }}.</span>
				<br>
				
			</h1>
			<p class="lead text-white mb-5">
				{{ "pageHome.detail1" | trans }}
				<br>
				{{ "pageHome.detail2" | trans }}</p>
			<button class="btn btn-light rounded-pill p-3" type="button" aria-label="Phone">
				<img src="{{ asset('build/images/icons/calendar.svg') }}" alt="calendar" class="me-2"/>
				{{ "pageHome.bookConsultation" | trans }}
			</button>
		</div>
	</div>
</section>
<section class="d-none d-lg-flex py-5" style="background: url('{{ asset('build/images/backgrounds/_home.png') }}') top/cover">
	<div class="container">
		<div class="row justify-content-between align-items-center">
			<div class="col-auto text-white fs-2 opacity-50 pe-5 border-end">
				{{ 'pageHome.peopleTrustUs'|trans }}
			</div>
			<div class="col-auto">
				<img src="{{ asset('build/images/clients/canal.png') }}" alt="canal +" width="150">
			</div>
			<div class="col-auto">
				<img src="{{ asset('build/images/clients/allianz.png') }}" alt="Allianz" width="150">
			</div>
			<div class="col-auto">
				<img src="{{ asset('build/images/clients/bnp.png') }}" alt="BNP Paribas" width="150">
			</div>
			<div class="col-auto">
				<img src="{{ asset('build/images/clients/samusocial.png') }}" alt="Samusocial Paris" width="150">
			</div>
		</div>
	</div>
</section>
