<section class="pt-5 space-grotesk">
    <div class="container py-5">
        <div class="row justify-content-center p-3">
            <h1 class="col-md-6 display-5 text-center fw-bolder pb-5">From Paris to Tunisia, We’re everywhere</h1>
            <div style="position: relative">
                <img src="{{ asset('build/images/backgrounds/map.png') }}" alt="map" class="w-100">

                <img src="{{ asset('build/images/pointer.png') }}" alt="pointer" class="paris-pointer map-pointer">
                <img src="{{ asset('build/images/paris.png') }}" alt="paris" class="paris-tooltip map-tooltip">

                <img src="{{ asset('build/images/pointer.png') }}" alt="pointer" class="tunis-pointer map-pointer">
                <img src="{{ asset('build/images/paris.png') }}" alt="paris" class="tunis-tooltip map-tooltip">

                <img src="{{ asset('build/images/pointer.png') }}" alt="pointer" class="usa-pointer map-pointer">
                <img src="{{ asset('build/images/paris.png') }}" alt="paris" class="usa-tooltip map-tooltip">

                <img src="{{ asset('build/images/pointer.png') }}" alt="pointer" class="asia1-pointer map-pointer">
                <img src="{{ asset('build/images/paris.png') }}" alt="paris" class="asia1-tooltip map-tooltip">

                <img src="{{ asset('build/images/pointer.png') }}" alt="pointer" class="asia2-pointer map-pointer">
                <img src="{{ asset('build/images/paris.png') }}" alt="paris" class="asia2-tooltip map-tooltip">

                <img src="{{ asset('build/images/pointer.png') }}" alt="pointer" class="brazil-pointer map-pointer">
                <img src="{{ asset('build/images/paris.png') }}" alt="paris" class="brazil-tooltip map-tooltip">
            </div>
        </div>
    </div>
</section>