<section class="container py-5">
    <div class="row justify-content-between py-5">
        <div class="col-lg-3 col-md-6 pe-5 d-flex flex-column justify-content-between">
            <p class="fs-5 text-secondary">{{ "welcomeSection.completedProjects.text1" | trans }} <b class="text-black">300+</b> {{ "welcomeSection.completedProjects.text2" | trans }}</p>
            <h1 class="space-grotesk display-4 fw-medium text-gradiant">300+</h1>
        </div>
        <div class="col-lg-3 col-md-6 pe-5 d-flex flex-column justify-content-between">
            <p class="fs-5 text-secondary">{{ "welcomeSection.bestProductsClients.text1" | trans }} <b class="text-black">{{ "welcomeSection.bestProductsClients.text2" | trans }}</b> {{ "welcomeSection.bestProductsClients.text3" | trans }}</p>
            <h1 class="space-grotesk display-4 fw-medium text-gradiant">200+</h1>
        </div>
        <div class="col-lg-3 col-md-6 pe-5 d-flex flex-column justify-content-between">
            <p class="fs-5 text-secondary">{{ "welcomeSection.yearsInAi.text1" | trans }} <b class="text-black">{{ "welcomeSection.yearsInAi.text2" | trans }}</b> {{ "welcomeSection.yearsInAi.text3" | trans }}</b></p>
            <h1 class="space-grotesk display-4 fw-medium text-gradiant">15+</h1>
        </div>
        <div class="col-lg-3 col-md-6 pe-5 d-flex flex-column justify-content-between">
            <p class="fs-5 text-secondary">{{ "welcomeSection.skilledAiExperts.text1" | trans }} <b class="text-black">{{ "welcomeSection.skilledAiExperts.text2" | trans }}</b> {{ "welcomeSection.skilledAiExperts.text3" | trans }}</p>
            <h1 class="space-grotesk display-4 fw-medium text-gradiant">50+</h1>
        </div>
    </div>
</section>
