<section class="container py-5">
	<div class="row py-5">
		<div class="col-lg-6 space-grotesk ">
			<h1 class="display-4 fw-medium mb-5">{{ "services.title" | trans }}
			</h1>
		</div>
		<div class="row justify-content-between pb-3 border-bottom">
			<div class="col-lg-6 space-grotesk">
				<h1 class="fw-medium mb-4">{{ 'services.consulting.title'|trans }}</h1>
			</div>
			<div class="col-lg-6 text-justify">
				<p class="fs-5 text-secondary">{{ 'services.consulting.description'|trans }}</p>
				<a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
					{{ 'services.integrations.button'|trans }}
					<img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
				</a>
			</div>
		</div>
		<div class="row justify-content-between pt-5 pb-3 border-bottom">
			<div class="col-lg-6 space-grotesk">
				<h1 class="fw-medium mb-4">{{ 'services.aiWorkshops.title'|trans }}</h1>
			</div>
			<div class="col-lg-6 text-justify">
				<p class="fs-5 text-secondary">{{ 'services.aiWorkshops.description'|trans }}</p>
				<a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
					{{ 'services.integrations.button'|trans }}
					<img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
				</a>
			</div>
		</div>
		<div class="row justify-content-between pt-5 pb-3 border-bottom">
			<div class="col-lg-6 space-grotesk">
				<h1 class="fw-medium mb-4">{{ 'services.llm.title'|trans }}</h1>
			</div>
			<div class="col-lg-6 text-justify">
				<p class="fs-5 text-secondary">{{ 'services.llm.description'|trans }}</p>
				<a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
					{{ 'services.integrations.button'|trans }}
					<img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
				</a>
			</div>
		</div>
		<div class="row justify-content-between pt-5 pb-3 border-bottom">
			<div class="col-lg-6 space-grotesk">
				<h1 class="fw-medium mb-4">{{ 'services.aiDevelopers.title'|trans }}</h1>
			</div>
			<div class="col-lg-6 text-justify">
				<p class="fs-5 text-secondary">{{ 'services.aiDevelopers.description'|trans }}</p>
				<a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
					{{ 'services.integrations.button'|trans }}
					<img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
				</a>
			</div>
		</div>
		<div class="row justify-content-between pt-5 pb-3 border-bottom">
			<div class="col-lg-6 space-grotesk">
				<h1 class="fw-medium mb-4">{{ 'services.integrations.title'|trans }}</h1>
			</div>
			<div class="col-lg-6 text-justify">
				<p class="fs-5 text-secondary">{{ 'services.integrations.description'|trans }}</p>
				<a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
					{{ 'services.integrations.button'|trans }}
					<img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
				</a>
			</div>
		</div>
	</div>
</section>
<section class="container">
	<div class="row py-5">
		<div class="col-lg-7 space-grotesk">
			<h1 class="display-4 fw-medium mb-5">{{ 'elevateYourBusiness.title'|trans }}</h1>
		</div>
	</div>
	<div class="row justify-content-between">
		<div class="col-lg-4 pe-5">
			<h3 class="space-grotesk fw-medium mb-4">{{ 'elevateYourBusiness.consulting.title'|trans }}
		</h3>
		{% for i in 1..4 %}
			<div class="d-flex justify-content-start align-items-start mb-3">
				<i class="bi bi-check-circle-fill text-gradiant fs-2"></i>
				<p class="fs-5 text-secondary mt-1 ms-3">{{ ('elevateYourBusiness.consulting.points.point' ~ i)|trans }}</p>
			</div>
		{% endfor %}
	</div>
	<div class="col-lg-5 pe-5 ps-lg-5">
		<h3 class="space-grotesk fw-medium mb-4">{{ 'elevateYourBusiness.workshops.title'|trans }}</h3>
		{% for i in 1..4 %}
			<div class="d-flex justify-content-start align-items-start mb-3">
				<i class="bi bi-check-circle-fill text-gradiant fs-2"></i>
				<p class="fs-5 text-secondary mt-1 ms-3">{{ ('elevateYourBusiness.workshops.points.point' ~ i)|trans }}</p>
			</div>
		{% endfor %}
	</div>
	<div class="col-lg-3">
		<h3 class="space-grotesk fw-medium mb-4">{{ 'elevateYourBusiness.development.title'|trans }}</h3>
		{% for i in 1..4 %}
			<div class="d-flex justify-content-start align-items-start mb-3">
				<i class="bi bi-check-circle-fill text-gradiant fs-2"></i>
				<p class="fs-5 text-secondary mt-1 ms-3">{{ ('elevateYourBusiness.development.points.point' ~ i)|trans }}</p>
			</div>
		{% endfor %}
	</div>
</div></section>
