<section class="container space-grotesk">
    <div class="row py-5">
        <div class="col-lg-7">
            <h1 class="display-4 fw-medium mb-5">Meet Our Team of AI Enthusiasts</h1>
        </div>
    </div>
    <div class="team-carousel pb-4">
        <div class="carousel-item px-2">
            <img src="{{ asset('build/images/team/morgan.jpg') }}" alt="Morgan B." class="w-100 mb-2">
            <div class="d-flex align-items-center mb-1">
                <div class="col-6">
                    <h5>Morgan B.</h5>
                </div>
                <div class="col-6">
                    <h6 class="text-end">Exp: 13 years</h6>
                </div>
            </div>
            <div class="d-flex">
                <span class="px-2 border border-black rounded-4 me-2">AI</span>
                <span class="px-2 border border-black rounded-4 me-2">LLM</span>
                <span class="px-2 border border-black rounded-4 me-2">UX</span>
            </div>
        </div>
        <div class="carousel-item px-2">
            <img src="{{ asset('build/images/team/dabin.png') }}" alt="Dabian K." class="w-100 mb-2">
            <div class="d-flex align-items-center mb-1">
                <div class="col-6">
                    <h5>Dabian K.</h5>
                </div>
                <div class="col-6">
                    <h6 class="text-end">Exp: 7 years</h6>
                </div>
            </div>
            <div class="d-flex">
                <span class="px-2 border border-black rounded-4 me-2">Frntend</span>
            </div>
        </div>
        <div class="carousel-item px-2">
            <img src="{{ asset('build/images/team/damien.png') }}" alt="Damien D." class="w-100 mb-2">
            <div class="d-flex align-items-center mb-1">
                <div class="col-6">
                    <h5>Damien D.</h5>
                </div>
                <div class="col-6">
                    <h6 class="text-end">Exp: 15 years</h6>
                </div>
            </div>
            <div class="d-flex">
                <span class="px-2 border border-black rounded-4 me-2">FullStack</span>
                <span class="px-2 border border-black rounded-4 me-2">JAVA</span>
                <span class="px-2 border border-black rounded-4 me-2">PHP</span>
                <span class="px-2 border border-black rounded-4 me-2">LLM</span>
            </div>
        </div>
        <div class="carousel-item px-2">
            <img src="{{ asset('build/images/team/yosra.jpg') }}" alt="Yosra G." class="w-100 mb-2">
            <div class="d-flex align-items-center mb-1">
                <div class="col-6">
                    <h5>Yosra G.</h5>
                </div>
                <div class="col-6">
                    <h6 class="text-end">Exp: 8 years</h6>
                </div>
            </div>
            <div class="d-flex">
                <span class="px-2 border border-black rounded-4 me-2">FullStack</span>
                <span class="px-2 border border-black rounded-4 me-2">React</span>
                <span class="px-2 border border-black rounded-4 me-2">Symfony</span>
            </div>
        </div>
        <div class="carousel-item px-2">
            <img src="{{ asset('build/images/team/olivier.png') }}" alt="Olivier G." class="w-100 mb-2">
            <div class="d-flex align-items-center mb-1">
                <div class="col-6">
                    <h5>Olivier G.</h5>
                </div>
                <div class="col-6">
                    <h6 class="text-end">Exp: 10 years</h6>
                </div>
            </div>
            <div class="d-flex">
                <span class="px-2 border border-black rounded-4 me-2">FullStack</span>
                <span class="px-2 border border-black rounded-4 me-2">React</span>
                <span class="px-2 border border-black rounded-4 me-2">Symfony</span>
            </div>
        </div>
        <div class="carousel-item px-2">
            <img src="{{ asset('build/images/team/gary.jpg') }}" alt="Gary Houbre." class="w-100 mb-2">
            <div class="d-flex align-items-center mb-1">
                <div class="col-6">
                    <h5>Gary Houbre.</h5>
                </div>
                <div class="col-6">
                    <h6 class="text-end">Exp: 13 years</h6>
                </div>
            </div>
            <div class="d-flex">
                <span class="px-2 border border-black rounded-4 me-2">Backend</span>
                <span class="px-2 border border-black rounded-4 me-2">Vue.js</span>
                <span class="px-2 border border-black rounded-4 me-2">PHP</span>
            </div>
        </div>
        <div class="carousel-item px-2">
            <img src="{{ asset('build/images/team/maxime.jpg') }}" alt="Maxime G." class="w-100 mb-2">
            <div class="d-flex align-items-center mb-1">
                <div class="col-6">
                    <h5>Maxime G.</h5>
                </div>
                <div class="col-6">
                    <h6 class="text-end">Exp: 13 years</h6>
                </div>
            </div>
            <div class="d-flex">
                <span class="px-2 border border-black rounded-4 me-2">AI</span>
                <span class="px-2 border border-black rounded-4 me-2">LLM</span>
                <span class="px-2 border border-black rounded-4 me-2">Python</span>
            </div>
        </div>
    </div>
</section>
