{% extends 'base.html.twig' %}

{% block title %}
	{{ "head.title" | trans }}
{% endblock %}

{% block description %}
	{{ "head.desc2" | trans }}
{% endblock %}

{# Change link quote by country #}
	{% if app.request.locale == "ko" %}
		{% set linkQuote = 'https://whattime.co.kr/kodkodkod/30min' %}
	{% else %}
		{% set linkQuote = '/' ~ app.request.locale ~ '/contact' %}
	{% endif %}
	{% if hongKong is defined and hongKong %}
		{% set linkQuote = 'https://calendly.com/kodkodkod_hk/30min' %}
	{% endif %}

{% block navbar %}
	<div class="new-navbar navbar-desktop">
		<div class="box">
			<div class="left">
				<a href="/">
					<div class="logo">
						<img src="{{ asset('build/images/newLandingPage/new_logo.png') }}" width="300" height="300"/>
					</div>
				</a>
			</div>
			<div class="mid">
				<div class="mid-menu">
					<a href="#intro">
						{{ "new-menu.link1"|trans }}
					</a>
				</div>
				<div class="mid-menu">
					<a href="#advantages">
						{{ "new-menu.link2"|trans }}
					</a>
				</div>
				<div class="mid-menu">
					<a href="#presentation">
						{{ "new-menu.link3"|trans }}
					</a>
				</div>
			</div>
			<div class="right">
				<a href={{ linkQuote}} >
					<button class="white-btn white-btn--text-rose">{{ 'new-menu.cta.top'|trans }}</button>
				</a>
			</div>
		</div>
	</div>
	<div class="new-navbar new-navbar-mobile">
		<div class="box">
			<div class="mid">
				<a href="/">
					<div class="logo">
						<img src="{{ asset('build/images/cms/logo.png') }}" width="300" height="300"/>
					</div>
				</a>
			</div>
			<div class="right">
				<img id="new-mobile-open" class="new-mobile-open" src="{{ asset('build/images/cms/burger_menu.svg') }}" width="28" height="28"/>
			</div>
			<div id="new-navbar-mobile" class="new-mobile-navbar-menus">
				<div
					class="mobile-navbar-menus-top">{# <img class="new-mobile-close" src="{{ asset('build/images/newLandingPage/navbar_close.svg') }}" width="25" height="25"/> #}
				</div>
				<div class="mobile-navbar-menus-bottom">
					<div class="mobile-menus">
						<div class="mobile-menu">
							<a href="#intro">
								{{ "new-menu.link1"|trans }}
							</a>
						</div>
						<div class="mobile-menu">
							<a href="#advantages">
								{{ "new-menu.link2"|trans }}
							</a>
						</div>
						<div class="mobile-menu">
							<a href="#presentation">
								{{ "new-menu.link3"|trans }}
							</a>
						</div>
						<div class="mobile-menu">
							<a href={{ linkQuote }} >
								<button class="white-btn white-btn--text-rose">{{ 'new-menu.cta.top'|trans }}</button>
							</a>
						</div>
						<div class="mobile-menu"></div>
						<div class="mobile-menu"></div>
						<div class="mobile-menu"></div>
					</div>
				</div>
			</div>
			<div id="not-navbar-menu" class="not-navbar-menu"></div>
		</div>
	</div>

{% endblock %}

{# ------------------BODY BLOCK----------------- #}
{% block body %}
	<div
		class="app-home-newLandingPage">
		{# <section class="jumbotron--cms">
				<div class="jumbo-img-principal">
					<img src="{{ asset('build/images/cms/bg_jumbotron.png') }}"/>
				</div>
				<div class="box">
					<div class="left">
						<div class="title">
							{{ 'section1.cms.baseline1'|trans }}
						</div>
						<a href={{ linkQuoteCms|trans }} >
							<button class="pink-btn pink-btn--lg">
								{{ 'cta.cms.top'|trans }}
							</button>
						</a>
					</div>
					<div class="right">
						<img class="jumbo-img" src="{{ asset('build/images/newLandingPage/jumbotron_blockchain.png') }}"/>
					</div>
				</div>
			</section> #}
		<section class="new-jumbotron">
			<div class="box">
				<div class="left">
					<div class="title">
						{{ 'section1.cms.title'|trans }}
					</div>
					{# <div class="btns-download">
							<div class="left">
								<div class="text">
									{{ 'section1.cms.section1.title'|trans }}
								</div>
								<div class="img">
									<img src="{{ asset('build/images/newJumbotron/QRcode.png') }}"/>
								</div>
							</div>
							<div class="right">
								<div class="item">
									{{ 'section1.cms.section2.title'|trans }}
								</div>
								<div class="item">
									<a href={{ linkQuoteCms|trans }} >
										<button class="pink-btn download-btn">
											<img class="" src="{{ asset('build/images/newJumbotron/icon_apple.svg') }}"/>
											<div class="text">
												<span>{{ 'section1.cms.section2.baseline'|trans }}</span></br>{{ 'section1.cms.section2.baseline1'|trans }}
											</div>
										</button>
									</a>
								</div>
								<div class="item">
									<a href={{ linkQuoteCms|trans }} >
										<button class="pink-btn download-btn">
											<img class="" src="{{ asset('build/images/newJumbotron/icon_google_play.svg') }}"/>
											<div class="text">
												<span>{{ 'section1.cms.section2.baseline'|trans }}</span></br>{{ 'section1.cms.section2.baseline2'|trans }}
											</div>
										</button>
									</a>
								</div>
							</div>
						</div> #}

					{% if app.request.locale == 'fr' %}
						<div class="contact-btns-cms">
							<a href={{ linkQuote }}>
								<button class="pink-btn">
									{{ 'cta.react.top'|trans }}
								</button>
							</a>
							<a href="tel:0451202424" >
								<button class="white-btn white-btn--text-rose white-btn--sm">
									<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewbox="0 0 50 50" style=" fill:#e9204f; margin-right:10px">
										<path d="M 14 3.9902344 C 8.4886661 3.9902344 4 8.4789008 4 13.990234 L 4 35.990234 C 4 41.501568 8.4886661 45.990234 14 45.990234 L 36 45.990234 C 41.511334 45.990234 46 41.501568 46 35.990234 L 46 13.990234 C 46 8.4789008 41.511334 3.9902344 36 3.9902344 L 14 3.9902344 z M 14 5.9902344 L 36 5.9902344 C 40.430666 5.9902344 44 9.5595687 44 13.990234 L 44 35.990234 C 44 40.4209 40.430666 43.990234 36 43.990234 L 14 43.990234 C 9.5693339 43.990234 6 40.4209 6 35.990234 L 6 13.990234 C 6 9.5595687 9.5693339 5.9902344 14 5.9902344 z M 18.048828 11.035156 C 16.003504 10.946776 14.45113 11.723922 13.474609 12.658203 C 12.986349 13.125343 12.633832 13.625179 12.392578 14.091797 C 12.151324 14.558415 11.998047 14.943108 11.998047 15.443359 C 11.998047 15.398799 11.987059 15.632684 11.980469 15.904297 C 11.973869 16.17591 11.97507 16.542045 12 16.984375 C 12.04996 17.869036 12.199897 19.065677 12.597656 20.484375 C 13.393174 23.321771 15.184446 27.043821 19.070312 30.929688 C 22.95618 34.815554 26.678014 36.606575 29.515625 37.402344 C 30.93443 37.800228 32.130881 37.949937 33.015625 38 C 33.457997 38.02503 33.822105 38.026091 34.09375 38.019531 C 34.365395 38.012931 34.601049 38.001953 34.556641 38.001953 C 35.056892 38.001953 35.441585 37.848676 35.908203 37.607422 C 36.374821 37.366168 36.874657 37.013651 37.341797 36.525391 C 38.276078 35.54887 39.053222 33.996496 38.964844 31.951172 C 38.922907 30.975693 38.381316 30.111858 37.582031 29.599609 C 36.96435 29.203814 36.005458 28.589415 34.753906 27.789062 C 33.301811 26.861299 31.44451 26.795029 29.929688 27.625 L 30.015625 27.582031 L 28.837891 28.087891 L 28.751953 28.148438 C 28.465693 28.349428 28.111154 28.386664 27.789062 28.251953 C 26.886813 27.874649 25.480985 27.133329 24.173828 25.826172 C 22.866671 24.519015 22.125351 23.113186 21.748047 22.210938 C 21.613336 21.888845 21.650568 21.534307 21.851562 21.248047 L 21.912109 21.162109 L 22.417969 19.984375 L 22.375 20.070312 C 23.204764 18.555868 23.140248 16.698619 22.210938 15.246094 C 21.410584 13.994542 20.796186 13.03565 20.400391 12.417969 C 19.888142 11.618684 19.02431 11.077096 18.048828 11.035156 z M 17.962891 13.033203 C 18.243409 13.045263 18.533045 13.209378 18.716797 13.496094 C 19.113001 14.114413 19.727696 15.07377 20.527344 16.324219 C 21.058033 17.153694 21.09533 18.243821 20.621094 19.109375 L 20.597656 19.152344 L 20.115234 20.279297 L 20.214844 20.097656 C 19.623835 20.939396 19.505055 22.032514 19.902344 22.982422 C 20.35304 24.060173 21.214923 25.695392 22.759766 27.240234 C 24.304608 28.785077 25.939827 29.64696 27.017578 30.097656 C 27.967486 30.494945 29.060604 30.376165 29.902344 29.785156 L 29.720703 29.884766 L 30.847656 29.402344 L 30.890625 29.378906 C 31.755801 28.904877 32.845877 28.944375 33.675781 29.474609 L 33.675781 29.472656 C 34.92623 30.272304 35.885587 30.886999 36.503906 31.283203 C 36.790622 31.466955 36.954736 31.756591 36.966797 32.037109 C 37.032417 33.555785 36.504954 34.506599 35.896484 35.142578 C 35.59225 35.460568 35.262335 35.691348 34.990234 35.832031 C 34.718133 35.972715 34.457889 36.001953 34.556641 36.001953 C 34.373232 36.001953 34.276633 36.013981 34.046875 36.019531 C 33.817117 36.025131 33.509144 36.025436 33.128906 36.003906 C 32.368431 35.960876 31.318757 35.831053 30.054688 35.476562 C 27.526547 34.767581 24.137509 33.168759 20.484375 29.515625 C 16.831241 25.862491 15.232169 22.473167 14.523438 19.945312 C 14.169071 18.681386 14.039037 17.631464 13.996094 16.871094 C 13.974624 16.490908 13.974899 16.18286 13.980469 15.953125 C 13.986069 15.72339 13.998047 15.626918 13.998047 15.443359 C 13.998047 15.542109 14.027287 15.281867 14.167969 15.009766 C 14.308652 14.737665 14.539432 14.40775 14.857422 14.103516 C 15.493401 13.495046 16.444215 12.967581 17.962891 13.033203 z"></path>
									</svg>
									04 51 20 24 24
								</button>
							</a>
						</div>
					{% else %}
						<a href={{ linkQuote }}>
							<button class="pink-btn">
								{{ 'cta.react.top'|trans }}
							</button>
						</a>
					{% endif %}

				</div>
				<div class="right">
					<img class="jumbo-img" src="{{ asset('build/images/newJumbotron/illustration_cms.png') }}"/>
				</div>
			</div>
		</section>

		<div class="your-project">
			<section id="intro" class="introduction cms">
				<div class="box">
					<div class="box__title">{{ 'introduction.cms.title'|trans }}</div>
					<div class="box__content">
						<div class="content-left"><img src="{{ asset('build/images/cms/business_img.png') }}"/></div>
						<div class="content-right">
							<div class="description">
								<p>{{ 'introduction.cms.baseline'|trans }}</p>
							</div>
							<a href={{ linkQuote }} >
								<button class="pink-btn">{{ 'introduction.cms.cta'|trans }}</button>
							</a>
						</div>
					</div>
				</div>
			</section>

			<section id="advantages" class="title-left compare-section">
				<div class="box">
					<div class="title">{{'advantages.cms'|trans}}</div>
				</div>
			</section>

			<section id="compare" class="sec11--fixed" data-aos="fade-up" data-aos-easing="ease" data-aos-duration="700">
				<div class="box">
					<div class="black">
						<div class="menus">
							<div class="menu">{{ 'section11.cms.baseline1'|trans }}</div>
							<div class="menu">{{ 'section11.cms.baseline2'|trans }}</div>
							<div class="menu">{{ 'section11.cms.baseline3'|trans }}</div>
							<div class="menu">{{ 'section11.cms.baseline4'|trans }}</div>
							<div class="menu">{{ 'section11.cms.baseline5'|trans }}</div>
						</div>
						<div class="without black-pink--fixed ">
							<div class="pink-title">
								{{ 'section11.title1'|trans }}
							</div>
							<div class="checkers">
								<div class="checker illustration">
									<img src="{{ asset('build/images/cms/img-document.png') }}"/>
								</div>
								<div class="checker">
									<img src="{{ asset('build/images/cms/X.svg') }}"/>
								</div>
								<div class="checker">
									<img src="{{ asset('build/images/cms/X.svg') }}"/>
								</div>
								<div class="checker">
									<img src="{{ asset('build/images/cms/X.svg') }}"/>
								</div>
								<div class="checker">
									<img src="{{ asset('build/images/cms/X.svg') }}"/>
								</div>
								<div class="checker">
									<img src="{{ asset('build/images/cms/X.svg') }}"/>
								</div>
							</div>
						</div>
						<div class="with black-pink--fixed ">
							<div class="pink-title">
								{{ 'section11.title2'|trans }}
							</div>
							<div class="checkers">
								<div class="checker illustration">
									<img src="{{ asset('build/images/cms/blockchain_img.png') }}"/>
								</div>
								<div class="checker">
									<img src="{{ asset('build/images/cms/mark.svg') }}"/>
								</div>
								<div class="checker">
									<img src="{{ asset('build/images/cms/mark.svg') }}"/>
								</div>
								<div class="checker">
									<img src="{{ asset('build/images/cms/mark.svg') }}"/>
								</div>
								<div class="checker">
									<img src="{{ asset('build/images/cms/mark.svg') }}"/>
								</div>
								<div class="checker">
									<img src="{{ asset('build/images/cms/mark.svg') }}"/>
								</div>
							</div>
						</div>
					</div>
					<a href={{ linkQuote }} >
						<button class="pink-btn pink-btn--lg">Obtenez un devis pour votre projet</button>
					</a>
				</div>
			</section>

			<section id="functioning" class="functioning">
				<div class="box">
					<div class="box__title">{{ 'section8.client.title'|trans }}</div>
				</div>
			</section>

			<section class="sec10">
				<div class="box">
					<div class="steps">

						<div class="step step-leftimg step1">
							<div class="img-part left" data-aos="fade-right" data-aos-easing="ease" data-aos-duration="700">
								<img src="{{ asset('build/images/cms/step1_client.png') }}"/>
							</div>
							<div class="text-part right" data-aos="fade-left" data-aos-easing="ease" data-aos-duration="700">
								<div class="title">{{ 'section8.title'|trans }}</div>
								<div class="text-box">
									<div class="sub-title">{{ 'section8.client.baseline1'|trans }}</div>
									<div class="desc">
										{{ 'section8.client.baseline2'|trans }}<br/><br/>
										<b>🎯
											{{ 'section8.bold'|trans }}</b>
										{{ 'section8.client.baseline3'|trans }}
									</div>
								</div>
							</div>
						</div>

						<div class="step step-rightimg step2">
							<div class="left text-part" data-aos="fade-left" data-aos-easing="ease" data-aos-duration="700">
								<div class="title">{{ 'section9.title'|trans }}</div>
								<div class="text-box">
									<div class="sub-title">{{ 'section9.client.baseline1'|trans }}</div>
									<div class="desc">
										{{ 'section9.client.baseline2'|trans }}<br/><br/>
										<b>🔥
											{{ 'section9.client.bold'|trans }}</b>
										{{ 'section9.client.baseline3'|trans }}
									</div>
								</div>
							</div>
							<div class="right img-part" data-aos="fade-right" data-aos-easing="ease" data-aos-duration="700">
								<img src="{{ asset('build/images/cms/step2_client.png') }}"/>
							</div>
						</div>

						<div class="step step-leftimg step3">
							<div class="left img-part" data-aos="fade-right" data-aos-easing="ease" data-aos-duration="700">
								<img src="{{ asset('build/images/cms/step3_client.png') }}"/>
							</div>
							<div class="right text-part">
								<div class="title">{{ 'section10.title'|trans }}</div>
								<div class="text-box" data-aos="fade-left" data-aos-easing="ease" data-aos-duration="700">
									<div class="sub-title">{{ 'section10.client.baseline1'|trans }}</div>
									<div class="desc">
										{{ 'section10.client.baseline2'|trans }}<br/><br/>
										<b>✌️
											{{ 'section10.client.bold'|trans }}</b>
										{{ 'section10.client.baseline3'|trans }}
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</section>

			<section id="functioning" class="functioning">
				<div class="box">
					<div class="box__title">{{ 'section8.enterprise.title' | trans}}</div>
					<div class="box__subtitle">{{ 'section8.enterprise.subtitle' | trans}}</div>
					<div class="box__technos">
						<div class="techno-item techno--magento"><img class="techno-img" src="{{ asset('build/images/cms/magento_logo.png') }}"/></div>
						<div class="techno-item"><img class="techno-img" src="{{ asset('build/images/cms/presta_logo_big.png') }}"/></div>
						<div class="techno-item"><img class="techno-img" src="{{ asset('build/images/cms/shopify_logo.png') }}"/></div>
					</div>
					{# <div class="box__content">
																										<div class="left">
																											<div class="title">
																												<h3>Une installation rapide et facile :</h3>
																											</div>
																											<div class="description">
																												<ol>
																													<li>Lorem ipsum dolor sit.</li>
																													<li>Lorem ipsum dolor sit.</li>
																													<li>Lorem ipsum dolor sit.</li>
																												</ol>
																											</div>
																											<a href={{ linkQuoteCms|trans }} >
																												<button class="pink-btn">Je souhaite un test gratuit</button>
																											</a>
																										</div>
																										<div class="right">
																											<div class=""><img class="" src="{{ asset('build/images/cms/illustration_cms.svg') }}"/></div>
																										</div>
																									</div> #}
				</div>
			</section>

			<section class="sec10">
				<div class="box">
					<div class="steps">

						<div class="step step-leftimg step1">
							<div class="img-part left" data-aos="fade-right" data-aos-easing="ease" data-aos-duration="700">
								<img src="{{ asset('build/images/newLandingPage/step1.png') }}"/>
							</div>
							<div class="text-part right" data-aos="fade-left" data-aos-easing="ease" data-aos-duration="700">
								<div class="title">{{ 'section8.title'|trans }}</div>
								<div class="text-box">
									<div class="sub-title">{{ 'section8.enterprise.baseline1'|trans }}</div>
									<div class="desc">
										{{ 'section8.enterprise.baseline2'|trans }}<br/><br/>
										{# <b>🎯
											{{ 'section8.bold'|trans }}</b>
										{{ 'section8.client.baseline3'|trans }} #}
									</div>
									<div class="desc-img">
										<img src="{{ asset('build/images/magento/magento.png') }}"/>
										<img src="{{ asset('build/images/presta/presta-logo-no-name.png') }}"/>
										<img src="{{ asset('build/images/shopify_logo.png') }}"/>
									</div>
								</div>
							</div>
						</div>




						<div class="step step-rightimg step2">
							<div class="left text-part" data-aos="fade-left" data-aos-easing="ease" data-aos-duration="700">
								<div class="title">{{ 'section9.title'|trans }}</div>
								<div class="text-box">
									<div class="sub-title">{{ 'section9.enterprise.baseline1'|trans }}</div>
									<div class="desc">
										{{ 'section9.enterprise.baseline2'|trans }}<br/><br/>
									</div>
								</div>
							</div>
							<div class="right img-part" data-aos="fade-right" data-aos-easing="ease" data-aos-duration="700">
								<img src="{{ asset('build/images/newLandingPage/step2.png') }}"/>
							</div>
						</div>
					</div>

				</div>
			</section>

			<div class="cta">
				<a href={{ linkQuote }} >
					<button class="pink-btn">{{ 'introduction.cms.cta'|trans }}</button>
				</a>
			</div>

			<section id="presentation" class="title-left">
				<div class="box">
					<div class="title"> {{ 'introduction.left-title'|trans }}</div>
				</div>
			</section>

			{# <section class="advantages-cms">
													<div class="bg-img">
														<img src="{{ asset('build/images/cms/bg.png') }}"/>
													</div>
													<div class="box">
														<div class="box__title">
															<h3>Vos clients ne perdront plus jamais leurs certificats et garanties.</h3>
														</div>
														<div class="box__description">
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
														</div>
													</div>
												</section> #}

		</div>
		{# <section class="equipe-project">
			<div class="box">
				{% include 'home/component/new_team_developers.html.twig' %}
			</div>
		</section> #}

		<section id="intro" class="intro intro-cms">
			<div class="box">
				<div class="left">
					<div class="title">
						{{ 'Just code.'|trans }}<br/>
						<span class="intro-pink-font">
							{{ 'No bullshit.'|trans }}</span>
					</div>
					<a href={{ linkQuote }} >
						<button class="pink-btn">{{ 'cta.top'|trans }}</button>
					</a>
				</div>
				<div class="right">
					{% set openP= '<p>' %}
					{% set closeP= '</p>' %}
					{% set openB= '<b>' %}
					{% set closeB= '</b>' %}
					<span class="pink-text">{{ openP | trans }}</span>
					{{ 'section2.baseline1'|trans }}<span class="pink-text">{{ closeP | trans }}</span><br/><br/>
					<span class="pink-text">{{ openP | trans }}</span>
					{{ 'section2.baseline2'|trans }}<span class="pink-text">{{ closeP | trans }}</span><br/><br/>
					<span class="pink-text">{{ openP | trans }}</span>
					{{ 'section2.baseline3'|trans }}
					<span class="pink-text">{{ openB | trans }}</span>
					<b>{{ 'section2.baseline4'|trans }}</b>
					<span class="pink-text">{{ closeB | trans }}</span>
					<span class="pink-text">{{ closeP | trans }}</span>
				</div>
			</div>
		</section>

		<section class="your-project">
			<section id="studio-data" class="studio-data">
				<div class="box">
					<div class="box__title">{{ 'studio-data.title'|trans }}<br/></div>

					<div class="box__cards">
						<div class="card">
							<div class="logo"><img class="" src="{{ asset('build/images/cms/expertise.svg') }}"/></div>
							<div class="container">
								<p>{{ 'studio-data.section1.baseline'|trans }}</p>
							</div>
						</div>
						<div class="card">
							<div class="logo"><img class="" src="{{ asset('build/images/cms/developers.svg') }}"/></div>
							<div class="container">
								<p>{{ 'studio-data.section2.baseline'|trans }}</p>
							</div>
						</div>
						<div class="card">
							<div class="logo"><img class="" src="{{ asset('build/images/cms/lines_code.svg') }}"/></div>
							<div class="container">
								<p>{{ 'studio-data.section3.baseline'|trans }}</p>
							</div>
						</div>
					</div>
					<div class="box__btn">
						<a href={{ linkQuote }} >
							<button class="white-btn white-btn--text-rose white-btn--lg">
								{{ 'new-menu.cta.top'|trans }}
							</button>
						</a>
					</div>
				</div>
			</section>
		</section>
	</div>
{% endblock %}

{% block footer %}
	<footer class="new-footer">
		<div class="new-footer__row-1">
			<div class="infos">
				<div class="infos__logo"><img class="" src="{{ asset('build/images/cms/logo.png') }}"/></div>
				<div class="infos__text">
					<p>{{ 'newfooter.baseline'|trans }}</p>
				</div>
			</div>
			<div class="address">
				{% if app.request.locale == 'en' %}
					<div class="address__item">
						<a href="#">
							<div>USA</div>
							<span>Hodora SAS - Kodkodkod Studio
								<br>
								99 Wall Street #4404 New York, NY 10005</span>
						</a>
					</div>
					<div class="address__item">
						<a href="#">
							<div>France</div>
							<span>328 rue du doyen georges chapas 69009 Lyon
								<br>
								<br>04 51 20 24 24</span>
						</a>
					</div>
				{% elseif app.request.locale == 'fr' %}
					<div class="address__item">
						<a href="#">
							<div>KODKODKOD PARIS</div>
							<span>28 RUE DU POTEAU<br>75018 PARIS<br>04 51 20 24 24</span>
						</a>
					</div>
					<div class="address__item">
						<a href="#">
							<div>KODKODKOD LYON</div>
							<span>328 RUE DU DOYEN GEORGES CHAPAS<br>69009 LYON{# <br>04 51 20 24 24 #}</span>
						</a>
					</div>
				{% else %}
					<div class="address__item">
						<a href="#">
							<div>Vietnam</div>
							<span>16 Nguyen Hoi, Nguyen An Ninh ward, Vung Tau city, Vietnam</span>
						</a>
					</div>
					<div class="address__item">
						<a href="#">
							<div>France</div>
							<span>328 rue du doyen georges chapas 69009 Lyon.<br>04 51 20 24 24</span>
						</a>
					</div>
					<div class="address__item">
						<a href="#">
							<div>{{'South Korea'}}</div>
							<span>서울특별시 강남구 영동대로 602, 미켈란107 6층 K12<br/>주식회사 호도라(592-84-00057)</span>
						</a>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="new-footer__row-2">
			<div class="conditions">
				<a href="{{ path('conditions') }}">{{ 'Terms of use'|trans }}</a>
				<a href="{{ path('polique') }}">{{'Privacy policies'|trans}}</a>
				{% if app.request.locale == 'fr' %}
					<a href="{{ path('sitemap') }}">{{'Site Map'|trans}}</a>
				{% endif %}
			</div>
			<div class="copyrights">
				<p>Kodkodkod Studio</p>
			</div>
		</div>
	</footer>
{% endblock %}
