<section class="container py-5 border-bottom">
    <div class="row py-5">
        <div class="col-lg-6 space-grotesk">
            <h1 class="display-4 fw-medium mb-5">{{ "services.title" | trans }}
            </h1>
        </div>
        <div class="row justify-content-between pb-3 border-bottom">
            <div class="col-lg-6 space-grotesk">
                <h1 class="fw-medium mb-4">{{ 'services.consulting.title'|trans }}</h1>
            </div>
            <div class="col-lg-6 text-justify">
                <p class="fs-5 text-secondary">{{ 'services.consulting.description'|trans }}</p>
                <a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
                    {{ 'services.integrations.button'|trans }}
                    <img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
                </a>
            </div>
        </div>
        <div class="row justify-content-between pt-5 pb-3 border-bottom">
            <div class="col-lg-6 space-grotesk">
                <h1 class="fw-medium mb-4">{{ 'services.aiWorkshops.title'|trans }}</h1>
            </div>
            <div class="col-lg-6 text-justify">
                <p class="fs-5 text-secondary">{{ 'services.aiWorkshops.description'|trans }}</p>
                <a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
                    {{ 'services.integrations.button'|trans }}
                    <img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
                </a>
            </div>
        </div>
        <div class="row justify-content-between pt-5 pb-3 border-bottom">
            <div class="col-lg-6 space-grotesk">
                <h1 class="fw-medium mb-4">{{ 'services.llm.title'|trans }}</h1>
            </div>
            <div class="col-lg-6 text-justify">
                <p class="fs-5 text-secondary">{{ 'services.llm.description'|trans }}</p>
                <a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
                    {{ 'services.integrations.button'|trans }}
                    <img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
                </a>
            </div>
        </div>
        <div class="row justify-content-between pt-5 pb-3 border-bottom">
            <div class="col-lg-6 space-grotesk">
                <h1 class="fw-medium mb-4">{{ 'services.aiDevelopers.title'|trans }}</h1>
            </div>
            <div class="col-lg-6 text-justify">
                <p class="fs-5 text-secondary">{{ 'services.aiDevelopers.description'|trans }}</p>
                <a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
                    {{ 'services.integrations.button'|trans }}
                    <img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
                </a>
            </div>
        </div>
        <div class="row justify-content-between pt-5 pb-3">
            <div class="col-lg-6 space-grotesk">
                <h1 class="fw-medium mb-4">{{ 'services.integrations.title'|trans }}</h1>
            </div>
            <div class="col-lg-6 text-justify">
                <p class="fs-5 text-secondary">{{ 'services.integrations.description'|trans }}</p>
                <a class="h3 space-grotesk text-gradiant text-decoration-none mt-5" href="#">
                    {{ 'services.integrations.button'|trans }}
                    <img src="{{ asset('build/images/icons/arrow.svg') }}" alt="arrow" class="ms-2" width="25"/>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="container py-5 border-bottom">
    <div class="row justify-content-between">
        <div class="col-lg-6 space-grotesk">
            <h1 class="display-4 fw-medium mb-4">Integration into Your Business</h1>
        </div>
        <div class="col-lg-6 text-justify">
            <p class="fs-5 text-secondary">
                At Kodkokod, we understand the importance of delivering tangible results. Instead of making lofty
                promises, we focus on what we do best: producing top-quality code that empowers your business to
                succeed. </p>
            <p class="fs-5 text-secondary">
                At Kodkokod, we understand the importance of delivering tangible results. Instead of making lofty
                promises, we focus on what we do best.
            </p>
        </div>
    </div>
    <div class="service-team-carousel pb-4 mt-4">
        <div class="carousel-item px-2 text-white">
            <div class="px-3 d-flex align-items-end"
                 style="height: 300px; background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('{{ asset('build/images/s1.png') }}') center/cover;">
                <div class="opacity-0">
                    <h5>Project Management Software</h5>
                    <p>Improve project efficiency and decision-making with intelligent project management.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item px-2 text-white">
            <div class="px-3 d-flex align-items-end"
                 style="height: 300px; background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url('{{ asset('build/images/s2.png') }}') center/cover;">
                <div class="opacity-0">
                    <h5>Mobile developement</h5>
                    <p>Improve project efficiency and decision-making with intelligent project management.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item px-2 text-white">
            <div class="px-3 d-flex align-items-end"
                 style="height: 300px; background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url('{{ asset('build/images/s3.png') }}') center/cover;">
                <div class="opacity-0">
                    <h5>Auto detection</h5>
                    <p>Improve project efficiency and decision-making with intelligent project management.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item px-2 text-white">
            <div class="px-3 d-flex align-items-end"
                 style="height: 300px; background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url('{{ asset('build/images/s4.png') }}') center/cover;">
                <div class="opacity-0">
                    <h5>Health care software</h5>
                    <p>Improve project efficiency and decision-making with intelligent project management.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item px-2 text-white">
            <div class="px-3 d-flex align-items-end"
                 style="height: 300px; background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),  url('{{ asset('build/images/s5.png') }}') center/cover;">
                <div class="opacity-0">
                    <h5>AI Applications</h5>
                    <p>Improve project efficiency and decision-making with intelligent project management.</p>
                </div>
            </div>
        </div>
    </div>
</section>

