{# Type Project Section #}
<section class="sec-type-project">
	<div class="box">

		<div class="box__title">
			{{ 'type-project.title'|trans }}
		</div>

		<div class="box__cards">
			<a href={{'/' ~ app.request.locale ~ '/smart-contracts'}} style="color: #000">
				<div class="card">
					<img src="{{ asset('build/images/blockchain/type_project/handshake.png') }}" alt="handshake logo"/>
					<div class="title">{{ 'type-project.section1.baseline'|trans }}</div>
				</div>
			</a>

			<a href={{'/' ~ app.request.locale ~ '/d-apps'}} style="color: #000">
				<div class="card">
					<img src="{{ asset('build/images/blockchain/type_project/blockchain_icon.png') }}" alt="blockchain icon"/>
					<div class="title">{{ 'type-project.section2.baseline'|trans }}</div>
				</div>
			</a>

			<a href={{'/' ~ app.request.locale ~ '/marketplace-nft' }} style="color: #000">
				<div class="card">
					<img src="{{ asset('build/images/blockchain/type_project/worldwide.png') }}" alt="worldwide icon"/>
					<div class="title">{{ 'type-project.section3.baseline'|trans }}</div>
				</div>
			</a>

			<a href={{'/' ~ app.request.locale ~ '/play-earn'}} style="color: #000">
				<div class="card">
					<img src="{{ asset('build/images/blockchain/type_project/game_three.png') }}" alt="game three icon"/>
					<div class="title">{{ 'type-project.section4.baseline'|trans }}</div>
				</div>
			</a>

			<a href={{'/' ~ app.request.locale ~ '/metavers'}} style="color: #000">
				<div class="card">
					<img src="{{ asset('build/images/blockchain/type_project/video_conferences.png') }}" alt="video conferences icon"/>
					<div class="title">{{ 'type-project.section5.baseline'|trans }}</div>
				</div>
			</a>

			<a href={{'/' ~ app.request.locale ~ '/data-security-traceability'}} style="color: #000">
				<div class="card">
					<img src="{{ asset('build/images/blockchain/type_project/browser.png') }}" alt="browser icon"/>
					<div class="title">{{ 'type-project.section6.baseline'|trans }}</div>
				</div>
			</a>
		</div>
	</div>
</section>
