<div class="app-home-projects-swiper app-home-projects-swiper--blockchain">
	<div class="box">

		<div class="box__title">
			<div class="title">
				{{ 'section7.blockchain.baseline1.part1'|trans }}
				<span>{{ 'section7.blockchain.baseline1.part2'|trans }}</span>
				{{ 'section7.blockchain.baseline1.part3'|trans }}

			</div>
			<div class="btn">
				<a href={{ linkQuote }}>
					<button class="white-btn white-btn--text-rose white-btn--bg-transparent">{{ 'cta.react.top'|trans }}</button>
				</a>
			</div>
		</div>

		<div class="blockchain-project-swiper">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<div class="slide-image">
						<img class="slide-image__bg" class="slide-image__bg" src="{{ asset('build/images/blockchain/circular.png') }}">
						<img class="laptop-img" src="{{ asset('build/images/portfolio/laptop-img.png') }}" alt="laptop image"/>
						<img class="project-img" src="{{ asset('build/images/blockchain/circular.png') }}" alt="project circular"/>
					</div>
					<div class="slide-text">{{ 'section7.blockchain.desc1'|trans }}</div>
				</div>

				<div class="swiper-slide">
					<div class="slide-image">
						<img class="slide-image__bg" src="{{ asset('build/images/blockchain/expopolis.png') }}">
						<img class="laptop-img" src="{{ asset('build/images/portfolio/laptop-img.png') }}" alt="laptop image"/>
						<img class="project-img" src="{{ asset('build/images/blockchain/expopolis.png') }}" alt="project expopolis"/>
					</div>
					<div class="slide-text">{{ 'section7.blockchain.desc2'|trans }}</div>
				</div>

				<div class="swiper-slide">
					<div class="slide-image">
						<img class="slide-image__bg" src="{{ asset('build/images/blockchain/teambudd.png') }}">
						<img class="laptop-img" src="{{ asset('build/images/portfolio/laptop-img.png') }}" alt="laptop image"/>
						<img class="project-img" src="{{ asset('build/images/blockchain/teambudd.png') }}" alt="project teambudd"/>
					</div>
					<div class="slide-text">{{ 'section7.blockchain.desc3'|trans }}</div>
				</div>

				<div class="swiper-slide">
					<div class="slide-image">
						<img class="slide-image__bg" src="{{ asset('build/images/blockchain/warriorverse.png') }}">
						<img class="laptop-img" src="{{ asset('build/images/portfolio/laptop-img.png') }}" alt="laptop image"/>
						<img class="project-img" src="{{ asset('build/images/blockchain/warriorverse.png') }}" alt="project warriorverse"/>
					</div>
					<div class="slide-text">{{ 'section7.blockchain.desc4'|trans }}</div>
				</div>

				<div class="swiper-slide">
					<div class="slide-image">
						<img class="slide-image__bg" src="{{ asset('build/images/blockchain/kapp.png') }}">
						<img class="laptop-img" src="{{ asset('build/images/portfolio/laptop-img.png') }}" alt="laptop image"/>
						<img class="project-img" src="{{ asset('build/images/blockchain/kapp.png') }}" alt="project kapp"/>
					</div>
					<div class="slide-text">{{ 'section7.blockchain.desc5'|trans }}</div>
				</div>

			</div>
		</div>
	</div>
</div>
