<section class="sec-blockchain-technos smart-contracts">
	<div class="box">
		<div class="box__title">
			{{'equipe-project.sub-title.part1' | trans}}
			<br>
			<span>{{'equipe-project.data-security-traceability.sub-title.part2' | trans}}</span>
			{{'equipe-project.sub-title.part3' | trans}}
		</div>
		<div class="box__sub-title">{{'equipe-project.sub-title.section1.baseline' | trans}}</div>
		<div class="box__technos">
			<div class="techno">
				<img src="{{ asset('build/images/blockchain/cryptocurrency_eth_black.png') }}" alt="cryptocurrency eth logo black"/>
				<div class="techno-name">{{'equipe-project.sub-title.section1.desc1' | trans}}</div>
			</div>
			<div class="techno">
				<img src="{{ asset('build/images/blockchain/cryptocurrency_matic.png') }}" alt="cryptocurrency matic logo"/>
				<div class="techno-name">{{'equipe-project.sub-title.section1.desc2' | trans}}</div>
			</div>
			<div class="techno">
				<img src="{{ asset('build/images/blockchain/cryptocurrency_bsc_2.png') }}" alt="cryptocurrency bsc logo"/>
				<div class="techno-name">{{'equipe-project.sub-title.section1.desc3' | trans}}</div>
			</div>
			<div class="techno">
				<img src="{{ asset('build/images/blockchain/Tezos_logo.png') }}" alt="cryptocurrency tezos logo"/>
				<div class="techno-name">{{'equipe-project.sub-title.section1.desc4' | trans}}</div>
			</div>
		</div>
	</div>
</section>

{# Techno Section #}
<section id="process" class="sec-techno--styled data-security-traceability">
	<div class="box">

		<div class="box__item">
			<div class="right title">
				<span class="text-pink">{{'equipe-project.data-security-traceability.description.part2.subtitle.part1' | trans}}</span><br>
				{{'equipe-project.data-security-traceability.description.part2.subtitle.part2' | trans}}
				<div class="sub-title">{{'equipe-project.data-security-traceability.description.part1.subtitle' | trans}}</div>

			</div>
		</div>

		{# Part 1 #}
		<div class="box__item">
			<div class="left filled">
				<div class="bg"><img src="{{ asset('build/images/landingPage/techno/num-1.png') }}" alt="number 1"/></div>
				<div class="title">{{'equipe-project.data-security-traceability.description.part2.desc1.part1' | trans}}</div>
				<div class="sub-title">{{'equipe-project.data-security-traceability.description.part2.desc1.part2' | trans}}</div>
			</div>
			<div class="right empty"></div>
		</div>

		{# Part 2 #}
		<div class="box__item">
			<div class="left empty"></div>
			<div class="right filled">
				<div class="bg"><img src="{{ asset('build/images/landingPage/techno/num-2.png') }}" alt="number 2"/></div>
				<div class="title">{{'equipe-project.data-security-traceability.description.part2.desc2.part1' | trans}}</div>
				<div class="sub-title">{{'equipe-project.data-security-traceability.description.part2.desc2.part2' | trans}}</div>
			</div>
		</div>

		{# Part 3 #}
		<div class="box__item">
			<div class="left filled">
				<div class="bg"><img src="{{ asset('build/images/landingPage/techno/num-3.png') }}" alt="number 3"/></div>
				<div class="title">{{'equipe-project.data-security-traceability.description.part2.desc3.part1' | trans}}</div>
				<div class="sub-title">{{'equipe-project.data-security-traceability.description.part2.desc3.part2' | trans}}</div>
			</div>
			<div class="right empty"></div>
		</div>

		{# Part 4 #}
		<div class="box__item">
			<div class="left empty"></div>
			<div class="right filled">
				<div class="bg"><img src="{{ asset('build/images/landingPage/techno/num-4.png') }}" alt="number 4"/></div>
				<div class="title">{{'equipe-project.data-security-traceability.description.part2.desc4.part1' | trans}}</div>
				<div class="sub-title">{{'equipe-project.data-security-traceability.description.part2.desc4.part2' | trans}}</div>
			</div>
		</div>

		{# Part 5 #}
		<div class="box__item">
			<div class="left filled">
				<div class="bg"><img src="{{ asset('build/images/landingPage/techno/num-5.png') }}" alt="number 5"/></div>
				<div class="title">{{'equipe-project.data-security-traceability.description.part2.desc5.part1' | trans}}</div>
				<div class="sub-title">{{'equipe-project.data-security-traceability.description.part2.desc5.part2' | trans}}</div>
			</div>
			<div class="right empty"></div>
		</div>
	</div>
</section>
