<section class="pt-5 space-grotesk">
	<div class="container">
		<div class="row justify-content-center p-3">
			<h1 class="col-md-7 display-6 text-center fw-bolder pb-5 testimonial-title">{{ "testimonial.title" | trans }}</h1>
			<div class="testimonial-carousel">
				<div class="carousel-item">
					<div class="row justify-content-center">
						<div class="col-md-6 d-flex justify-content-center align-items-start mb-3 mb-md-5">
							<img src="{{ asset('build/images/testimonial/urgence-docteurs-logo.png') }}" class="w-25" alt="Mike">
							<div class="ms-2">
								<h2>Mike M.</h2>
								<p class="fs-6 fs-md-4">Co-founder Emergency Doctors</p>
							</div>
						</div>
						<div class="col-md-9 px-3">
							<h2 class="fs-4 text-center h-line testimonial">
								{{ 'section5.section3.baseline1'|trans }}
								{{ 'section5.section3.baseline2'|trans }}
								{{ 'section5.section3.baseline3'|trans }}
							</h2>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row justify-content-center">
						<div class="col-md-6 d-flex justify-content-center align-items-start mb-3 mb-md-5">
							<img src="{{ asset('build/images/testimonial/brands_1_jarvis.png') }}" class="w-25" alt="jarvis">
							<div class="ms-2">
								<h2>Alexandre J.</h2>
								<p class="fs-6 fs-md-4">CEO</p>
							</div>
						</div>
						<div class="col-md-9 px-3">
							<h2 class="fs-4 text-center h-line testimonial">
								{{ 'section5.section4.baseline1'|trans }}
								{{ 'section5.section4.baseline2'|trans }}
								{{ 'section5.section4.baseline3'|trans }}
							</h2>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row justify-content-center">
						<div class="col-md-6 d-flex justify-content-center align-items-start mb-3 mb-md-5">
							<img src="{{ asset('build/images/testimonial/blue-synaps-logo.png') }}" class="w-25" alt="synaps">
							<div class="ms-2">
								<h2>Antoine B.</h2>
								<p class="fs-6 fs-md-4">CEO</p>
							</div>
						</div>
						<div class="col-md-9 px-3">
							<h2 class="fs-4 text-center h-line testimonial">
								{{ 'section5.section5.baseline1'|trans }}
								{{ 'section5.section5.baseline2'|trans }}
								{{ 'section5.section5.baseline3'|trans }}
							</h2>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row justify-content-center">
						<div class="col-md-6 d-flex justify-content-center align-items-start mb-3 mb-md-5">
							<img src="{{ asset('build/images/testimonial/eskimoz.png') }}" class="w-25" alt="eskimoz">
							<div class="ms-2">
								<h2>Andrea G.</h2>
								<p class="fs-6 fs-md-4">CEO</p>
							</div>
						</div>
						<div class="col-md-9 px-3">
							<h2 class="fs-4 text-center h-line testimonial">
								{{ 'section5.section6.baseline1'|trans }}
								{{ 'section5.section6.baseline2'|trans }}
								{{ 'section5.section6.baseline3'|trans }}
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
