<div class="content">
    <div class="div">
        <div class="div-2">
            <div class="div-3">
                <span style="font-family: Space Grotesk, -apple-system, Roboto, Helvetica, sans-serif;">
                    {{ 'welcomeSection.intro'|trans }}

                </span>
{#                <div>#}
{#                    🇫🇷 🇰🇷 🇬🇧 🇨🇭 🇨🇮 🇺🇸#}
{#                </div>#}
            </div>

            <div class="div-4" style="    margin-left: 0;">
                <a href="{{ 'https://calendly.com/kodkodkod_maxime/kodkodkod_fr' }}" target="_blank" style="display: flex; gap: 20px;">
                    <div class="div-5">{{ 'welcomeSection.bookConsultation'|trans }}</div>
                    <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/fe697f339d3ce4c0930ff523b955cd461802f5c7db8032f509332e1cd4587b75?" class="img" />
                </a>
            </div>

            <div class="div-6"></div>
            <div class="div-7">
                <div class="div-8">{{ 'welcomeSection.ourStoryTitle'|trans }}</div>
                <div class="div-9">
                    <div class="div-10">
                        {{ 'welcomeSection.ourStoryContent1'|trans }}
                    </div>

{#                    <div class="div-11">#}
{#                        {{ 'welcomeSection.ourStoryContent2'|trans }}#}
{#                    </div>#}
{#                    <div class="div-12">#}
{#                        {{ 'welcomeSection.ourStoryContent3'|trans }}#}
{#                    </div>#}
                </div>
            </div>
            <div class="div-13"></div>
            <div class="div-14">
                <div class="div-15">
                    <div class="column">
                        <div class="div-16">
                            <div class="div-17">
                                {{ 'welcomeSection.completedProjects'|trans }}
                            </div>
                            <div class="div-18">300+</div>
                        </div>
                    </div>
                    <div class="column-2">
                        <div class="div-19">
                            <div class="div-20">
                                {{ 'welcomeSection.bestProductsClients'|trans }}
                            </div>
                            <div class="div-21">200+</div>
                        </div>
                    </div>
                    <div class="column-3">
                        <div class="div-22">
                            <div class="div-23">
                                {{ 'welcomeSection.yearsInAi'|trans }}
                            </div>
                            <div class="div-24">15+</div>
                        </div>
                    </div>
                    <div class="column-4">
                        <div class="div-25">
                            <div class="div-26">
                                {{ 'welcomeSection.skilledAiExperts'|trans }}
                            </div>
                            <div class="div-27">50+</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
