<div class="box__right">
    <img src="{{ asset('build/images/landingPage/brands-logos/jarvis-legal.png') }}"
         style="visibility: hidden" alt="jarvis-legal"/>
    <img class="canal-logo"
         src="{{ asset('build/images/landingPage/brands-logos/canal.svg') }}"
         alt="urgence docteurs" width="300" height="49"/>
    <img src="{{ asset('build/images/landingPage/brands-logos/bnp.png') }}" alt="bnp" width="200"
         height="52"/>

    <img class="canal-logo" src="{{ asset('build/images/landingPage/brands-logos/cesco.png') }}"
         alt="canal+" width="150" height="38"/>
    <img class="allianz-logo" src="{{ asset('build/images/landingPage/brands-logos/allianz.svg') }}"
         alt="allianz" width="161" height="40"/>
    <img src="{{ asset('build/images/landingPage/brands-logos/moa.svg') }}" alt="MOA" width="200"
         height="120"/>
    <img class="samusocial-logo" src="{{ asset('build/images/landingPage/brands-logos/samusocial.svg') }}"
         alt="samu social" width="135" height="40"/>
    <img class="expopolis-logo"
         src="{{ asset('build/images/landingPage/brands-logos/logo_expopolis.png') }}" alt="expopolis"
         width="184" height="40"/>
    <img class="kapp-logo" src="{{ asset('build/images/landingPage/brands-logos/kapp.svg') }}" alt="kapp"
         width="181" height="60"/>
    <img src="{{ asset('build/images/landingPage/brands-logos/niwel-beauty.png') }}" alt="niwel-beauty"
         width="200" height="55"/>
</div>
