<h1>Nouvelle demande a partir du site (New Form Contact)</h1>

<div>
	Nom :
	{{ name  }}
</div>

<div>
	Email :
	{{ emailClient  }}
</div>

<div>
	Tel :
	{{ telNumber  }}
</div>

<div>
	Entreprise :
	{{ enterprise }}
</div>

<div>
	Project :
	{{ typeProject }}
</div>

<div>
	Projet detail:
	{{ projectDetail }}
</div>

<div>
	Budget:
	{{ budget }}
</div>

<div>
	Durée:
	{{ time }}
</div>
