<section class="container space-grotesk">
	<div class="row justify-content-between">
		<div class="col-lg-4 col-md-6 pe-5 d-flex flex-column">
			<h4 class="fw-medium">{{ 'projet.info.title' | trans}}</h4>
			<p class="fs-6 text-secondary">{{ project.technology|join(', ')}}</p>
		</div>
		<div class="col-lg-4 col-md-6 pe-5 d-flex flex-column">
			<h4 class="fw-medium">{{ 'projet.info.title2' | trans}}</h4>
			<p class="fs-6 text-secondary">{{ 'projet.info.text2' | trans}}</p>
		</div>
		<div class="col-lg-4 col-md-6 pe-5 d-flex flex-column">
			<h4 class="fw-medium">{{ 'projet.info.title3' | trans}}</h4>
			<p class="fs-6 text-secondary">{{ project.technology|join(',')}}</p>
		</div>
	</div>

</section>
