<section class="sec-advantages smart-contracts">
	<div class="box">
		<div class="box__title">
			<span>{{'advantages.play-earn.title.part1' | trans}}</span>
			<br>
			{{'advantages.play-earn.title.part2' | trans}}
		</div>
		<div class="box__sub-title">
			<span>{{'advantages.play-earn.title.baseline1' | trans}}</span>
			<br><br>
			{{'advantages.play-earn.title.baseline2' | trans}}
			<br><br>
			{{'advantages.play-earn.title.baseline3' | trans}}
			<br><br>
			{{'advantages.play-earn.title.baseline4' | trans}}
			<br><br>
			{{'advantages.play-earn.title.baseline5' | trans}}
			<br><br>
			{{'advantages.play-earn.title.baseline6' | trans}}
			<br><br>

		</div>
	</div>
</section>
