<section class="sec-blockchain-technos smart-contracts">
	<div class="box">
		<div class="box__title">
			{{'equipe-project.sub-title.part1' | trans}}
			<br>
			<span>{{'equipe-project.play-earn.sub-title.part2' | trans}}</span>
			{{'equipe-project.sub-title.part3' | trans}}
		</div>
		<div class="box__sub-title">{{'equipe-project.sub-title.section1.baseline' | trans}}</div>
		<div class="box__technos">
			<div class="techno">
				<img src="{{ asset('build/images/blockchain/cryptocurrency_eth_black.png') }}" alt="cryptocurrency eth logo black"/>
				<div class="techno-name">{{'equipe-project.sub-title.section1.desc1' | trans}}</div>
			</div>
			<div class="techno">
				<img src="{{ asset('build/images/blockchain/cryptocurrency_matic.png') }}" alt="cryptocurrency matic logo"/>
				<div class="techno-name">{{'equipe-project.sub-title.section1.desc2' | trans}}</div>
			</div>
			<div class="techno">
				<img src="{{ asset('build/images/blockchain/cryptocurrency_bsc_2.png') }}" alt="cryptocurrency bsc logo"/>
				<div class="techno-name">{{'equipe-project.sub-title.section1.desc3' | trans}}</div>
			</div>
			<div class="techno">
				<img src="{{ asset('build/images/blockchain/Tezos_logo.png') }}" alt="cryptocurrency tezos logo"/>
				<div class="techno-name">{{'equipe-project.sub-title.section1.desc4' | trans}}</div>
			</div>
		</div>
		<div class="box__description">
			<div class="sub-title">{{'equipe-project.play-earn.description.part1.subtitle' | trans}}</div>
			<div class="description">
				<br>
				{{'equipe-project.play-earn.description.part1.desc1' | trans}}<br>
				{{'equipe-project.play-earn.description.part1.desc2' | trans}}<br>
				{{'equipe-project.play-earn.description.part1.desc3' | trans}}
			</div>
		</div>
	</div>
</section>

