<div class="app-home-projects-swiper">
	<div class="box">
		<div class="swiper">
			<div class="swiper-wrapper">

				<div class="swiper-slide">
					<div class="slide-image">
						<img src="{{ asset('build/images/blockchain/circular.png') }}">
					</div>
					<div class="slide-text">{{ 'section7.blockchain.desc1'|trans }}</div>
				</div>

				<div class="swiper-slide">
					<div class="slide-image">
						<img src="{{ asset('build/images/blockchain/expopolis.png') }}">
					</div>
					<div class="slide-text">{{ 'section7.blockchain.desc2'|trans }}</div>
				</div>

				<div class="swiper-slide">
					<div class="slide-image">
						<img src="{{ asset('build/images/blockchain/teambudd.png') }}">
					</div>
					<div class="slide-text">{{ 'section7.blockchain.desc3'|trans }}</div>
				</div>

				<div class="swiper-slide">
					<div class="slide-image">
						<img src="{{ asset('build/images/blockchain/warriorverse.png') }}">
					</div>
					<div class="slide-text">{{ 'section7.blockchain.desc4'|trans }}</div>
				</div>

				<div class="swiper-slide">
					<div class="slide-image">
						<img src="{{ asset('build/images/blockchain/kapp.png') }}">
					</div>
					<div class="slide-text">{{ 'section7.blockchain.desc5'|trans }}</div>
				</div>

			</div>
		</div>
	</div>
</div>
