<section class="project-detail project-detail__flutter">
	<div class="title">{{ 'project-detail.flutter.title'|trans }}</div>
	<div class="box">

		<div class="card">
            
			<div class="card__text">
				<div class="title">{{ 'project-detail.react.section3.title'|trans }}</div>
				<div class="sub-desc">
						<p>{{ 'project-detail.react.section3.sub-title'|trans }}</p>
					</div>
				<div class="description">
					<div class="badges">
						<div class="badge">
							<div class="badge__img">
								<span class="icon-container">
									<svg
									aria-hidden="true"
									focusable="false"
									data-prefix="fas"
									data-icon="exchange-alt"
									class="icon"
									role="img"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 448 512"
									style="font-size:20px">
										<path fill="currentColor" d="M439.39 362.29c-19.32-20.76-55.47-51.99-55.47-154.29 0-77.7-54.48-139.9-127.94-155.16V32c0-17.67-14.32-32-31.98-32s-31.98 14.33-31.98 32v20.84C118.56 68.1 64.08 130.3 64.08 208c0 102.3-36.15 133.53-55.47 154.29-6 6.45-8.66 14.16-8.61 21.71.11 16.4 12.98 32 32.1 32h383.8c19.12 0 32-15.6 32.1-32 .05-7.55-2.61-15.27-8.61-21.71zM67.53 368c21.22-27.97 44.42-74.33 44.53-159.42 0-.2-.06-.38-.06-.58 0-61.86 50.14-112 112-112s112 50.14 112 112c0 .2-.06.38-.06.58.11 85.1 23.31 131.46 44.53 159.42H67.53zM224 512c35.32 0 63.97-28.65 63.97-64H160.03c0 35.35 28.65 64 63.97 64z"></path>
									</svg>
								</span>
							</div>
							<div class="badge__description">
								{{ 'project-detail.react.section3.baseline1'|trans }}
							</div>
						</div>

						<div class="badge">
							<div class="badge__img">
								<span class="icon-container">
									<svg
									aria-hidden="true"
									focusable="false"
									data-prefix="fas"
									data-icon="exchange-alt"
									class="icon"
									role="img"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 288 512"
									style="font-size:20px">
										<path fill="currentColor" d="M112 316.94v156.69l22.02 33.02c4.75 7.12 15.22 7.12 19.97 0L176 473.63V316.94c-10.39 1.92-21.06 3.06-32 3.06s-21.61-1.14-32-3.06zM144 0C64.47 0 0 64.47 0 144s64.47 144 144 144 144-64.47 144-144S223.53 0 144 0zm0 76c-37.5 0-68 30.5-68 68 0 6.62-5.38 12-12 12s-12-5.38-12-12c0-50.73 41.28-92 92-92 6.62 0 12 5.38 12 12s-5.38 12-12 12z"></path>
									</svg>
								</span>
							</div>
							<div class="badge__description">
								{{ 'project-detail.react.section3.baseline2'|trans }}
							</div>
						</div>

						<div class="badge">
							<div class="badge__img">
								<span class="icon-container">
									<svg
									aria-hidden="true"
									focusable="false"
									data-prefix="fas"
									data-icon="exchange-alt"
									class="icon"
									role="img"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 448 512"
									style="font-size:20px">
										<path fill="currentColor" d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"></path>
									</svg>
								</span>
							</div>
							<div class="badge__description">
								{{ 'project-detail.react.section3.baseline3'|trans }}
							</div>
						</div>

						<div class="badge">
							<div class="badge__img">
								<span class="icon-container">
									<svg
									aria-hidden="true"
									focusable="false"
									data-prefix="fas"
									data-icon="exchange-alt"
									class="icon"
									role="img"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 448 512"
									style="font-size:20px">
										<path fill="currentColor" d="M448 73.143v45.714C448 159.143 347.667 192 224 192S0 159.143 0 118.857V73.143C0 32.857 100.333 0 224 0s224 32.857 224 73.143zM448 176v102.857C448 319.143 347.667 352 224 352S0 319.143 0 278.857V176c48.125 33.143 136.208 48.572 224 48.572S399.874 209.143 448 176zm0 160v102.857C448 479.143 347.667 512 224 512S0 479.143 0 438.857V336c48.125 33.143 136.208 48.572 224 48.572S399.874 369.143 448 336z"></path>
									</svg>
								</span>
							</div>
							<div class="badge__description">
								{{ 'project-detail.react.section3.baseline4'|trans }}
							</div>
						</div>

						<div class="badge">
							<div class="badge__img">
								<span class="icon-container">
									<svg
									aria-hidden="true"
									focusable="false"
									data-prefix="fas"
									data-icon="exchange-alt"
									class="icon"
									role="img"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 496 512"
									style="font-size:20px">
										<path fill="currentColor" d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm0 448c-110.3 0-200-89.7-200-200S137.7 56 248 56s200 89.7 200 200-89.7 200-200 200zm-80-216c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm160 0c17.7 0 32-14.3 32-32s-14.3-32-32-32-32 14.3-32 32 14.3 32 32 32zm4 72.6c-20.8 25-51.5 39.4-84 39.4s-63.2-14.3-84-39.4c-8.5-10.2-23.7-11.5-33.8-3.1-10.2 8.5-11.5 23.6-3.1 33.8 30 36 74.1 56.6 120.9 56.6s90.9-20.6 120.9-56.6c8.5-10.2 7.1-25.3-3.1-33.8-10.1-8.4-25.3-7.1-33.8 3.1z"></path>
									</svg>
								</span>
							</div>
							<div class="badge__description">
								{{ 'project-detail.react.section3.baseline5'|trans }}
							</div>
						</div>

						<div class="badge">
							<div class="badge__img">
								<span class="icon-container">
									<svg
									aria-hidden="true"
									focusable="false"
									data-prefix="fas"
									data-icon="exchange-alt"
									class="icon"
									role="img"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 640 512"
									style="font-size:20px">
										<path fill="currentColor" d="M608 0H160a32 32 0 0 0-32 32v96h160V64h192v320h128a32 32 0 0 0 32-32V32a32 32 0 0 0-32-32zM232 103a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9V73a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm352 208a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9v-30a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm0-104a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9v-30a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm0-104a9 9 0 0 1-9 9h-30a9 9 0 0 1-9-9V73a9 9 0 0 1 9-9h30a9 9 0 0 1 9 9zm-168 57H32a32 32 0 0 0-32 32v288a32 32 0 0 0 32 32h384a32 32 0 0 0 32-32V192a32 32 0 0 0-32-32zM96 224a32 32 0 1 1-32 32 32 32 0 0 1 32-32zm288 224H64v-32l64-64 32 32 128-128 96 96z"></path>
									</svg>
								</span>
							</div>
							<div class="badge__description">
								{{ 'project-detail.react.section3.baseline6'|trans }}
							</div>
						</div>

						<div class="badge">
							<div class="badge__img">
								<span class="icon-container">
									<svg
									aria-hidden="true"
									focusable="false"
									data-prefix="fas"
									data-icon="exchange-alt"
									class="icon"
									role="img"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 352 512"
									style="font-size:20px">
										<path fill="currentColor" d="M176 352c53.02 0 96-42.98 96-96V96c0-53.02-42.98-96-96-96S80 42.98 80 96v160c0 53.02 42.98 96 96 96zm160-160h-16c-8.84 0-16 7.16-16 16v48c0 74.8-64.49 134.82-140.79 127.38C96.71 376.89 48 317.11 48 250.3V208c0-8.84-7.16-16-16-16H16c-8.84 0-16 7.16-16 16v40.16c0 89.64 63.97 169.55 152 181.69V464H96c-8.84 0-16 7.16-16 16v16c0 8.84 7.16 16 16 16h160c8.84 0 16-7.16 16-16v-16c0-8.84-7.16-16-16-16h-56v-33.77C285.71 418.47 352 344.9 352 256v-48c0-8.84-7.16-16-16-16z"></path>
									</svg>
								</span>
							</div>
							<div class="badge__description">
								{{ 'project-detail.react.section3.baseline7'|trans }}
							</div>
						</div>

						<div class="badge">
							<div class="badge__img">
								<span class="icon-container">
									<svg
									aria-hidden="true"
									focusable="false"
									data-prefix="fas"
									data-icon="exchange-alt"
									class="icon"
									role="img"
									xmlns="http://www.w3.org/2000/svg"
									viewBox="0 0 512 512"
									style="font-size:20px">
										<path fill="currentColor" d="M504 256c0 136.997-111.043 248-248 248S8 392.997 8 256C8 119.083 119.043 8 256 8s248 111.083 248 248zM262.655 90c-54.497 0-89.255 22.957-116.549 63.758-3.536 5.286-2.353 12.415 2.715 16.258l34.699 26.31c5.205 3.947 12.621 3.008 16.665-2.122 17.864-22.658 30.113-35.797 57.303-35.797 20.429 0 45.698 13.148 45.698 32.958 0 14.976-12.363 22.667-32.534 33.976C247.128 238.528 216 254.941 216 296v4c0 6.627 5.373 12 12 12h56c6.627 0 12-5.373 12-12v-1.333c0-28.462 83.186-29.647 83.186-106.667 0-58.002-60.165-102-116.531-102zM256 338c-25.365 0-46 20.635-46 46 0 25.364 20.635 46 46 46s46-20.636 46-46c0-25.365-20.635-46-46-46z"></path>
									</svg>
								</span>
							</div>
							<div class="badge__description">
								...
							</div>
						</div>

					</div>
				</div>
				<div class="btn">

					{# Change link quote by country #}
					{% if app.request.locale == "ko" %}
						{% set linkQuoteFlutter = 'link-quote-flutter' %}
					{% else %}
						{% set linkQuoteFlutter = '/' ~ app.request.locale ~ '/form-contact/flutter' %}
					{% endif %}

					<a href={{ linkQuoteFlutter |trans }} >
						<button class="pink-btn">
							{{ 'project-detail.react.section3.cta'|trans }}
						</button>
					</a>
				</div>
				
			</div>
		</div>

	</div>
</section>