<div class="app-home-projects-swiper">
    <div class="box">
        <div class="swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <div class="slide-title">
                        <img class="slide-title-image" src="{{ asset('build/images/newLandingPage/brands_2_bnp.png') }}"/>
                    </div>
                    <div class="slide-image">
                        <img src="{{ asset('build/images/portfolio/bnp_work.png') }}" >
                    </div>
                    <div class="slide-text">{{ 'home-projects-swiper.section1.baseline'|trans }}</div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-title">
                        <img class="slide-title-image" src="{{ asset('build/images/newLandingPage/brands_6_canal.png') }}"/>
                    </div>
                    <div class="slide-image">
                        <img src="{{ asset('build/images/portfolio/work-canal.jpeg') }}"  />
                    </div>
                    <div class="slide-text">{{ 'home-projects-swiper.section2.baseline'|trans }}</div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-title">
                        <img class="slide-title-image" src="{{ asset('build/images/testimonial/urgence-docteurs-logo.png') }}"/>

                        {# <img class="slide-title-image" src="{{ asset('build/images/newLandingPage/brands_3_urgence.png') }}"/> #}
                    </div>
                    <div class="slide-image">
                        <img src="{{ asset('build/images/portfolio/urgence-docteurs-work.png') }}" />
                    </div>
                    <div class="slide-text">{{ 'home-projects-swiper.section3.baseline'|trans }}</div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-title">
                        <img class="slide-title-image" src="{{ asset('build/images/newLandingPage/brands_7_durance.png') }}"/>
                    </div>
                    <div class="slide-image">
                        <img src="{{ asset('build/images/portfolio/durance-work.png') }}" />
                    </div>
                    <div class="slide-text">{{ 'home-projects-swiper.section4.baseline'|trans }}</div>
                </div>

                <div class="swiper-slide">
                    <div class="slide-title">
                        <img class="slide-title-image" src="{{ asset('build/images/newLandingPage/kapp.png') }}"/>
                    </div>
                    <div class="slide-image">
                        <img class="slide-kapp-img" src="{{ asset('build/images/portfolio/kapp.png') }}" />
                    </div>
                    <div class="slide-text">{{ 'home-projects-swiper.section5.baseline'|trans }}</div>
                </div>



            </div>
{#            <div class="swiper-button-prev">#}
{#                <img src="{{ asset('build/images/portfolio/close.svg') }}"/>#}
{#            </div>#}
{#            <div class="swiper-button-next">#}
{#                <img src="{{ asset('build/images/portfolio/close.svg') }}"/>#}
{#            </div>#}
        </div>
    </div>
</div>
    <script>

    </script>

