{% extends '../../base.html.twig' %}

{% block title %}portfolio{% endblock %}
{% block description %}portfolio{% endblock %}


{% block body %}

    <div class="app-home-portfolio-detail">
     <div class="box">
         <img class="detail-close" src="{{ asset('build/images/portfolio/close.svg') }}"/>

         <div class="project-infos">
             <div class="titles">
                 <div class="name">

                 </div>
                 <div class="desc">

                 </div>
             </div>
             <div class="photos">
                 <img src="{{ asset('build/images/portfolio/kapp.png') }}"/>
                 <img src="{{ asset('build/images/portfolio/kapp.png') }}"/>
                 <img src="{{ asset('build/images/portfolio/kapp.png') }}"/>
                 <img src="{{ asset('build/images/portfolio/kapp.png') }}"/>
             </div>
         </div>

     </div>
    </div>

    <script>

    </script>


{% endblock %}
