<div class="app-home-projects-swiper">
    <div class="box">
        <div class="new-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide new-swiper-slide">
                    <div class="slide-title">
						<img class="slide-title-image" src="{{ asset('build/images/magento/moa-logo.png') }}"/>
					</div>
					<div class="slide-image slide-image--presta">
						<img src="{{ asset('build/images/magento/moa.png') }}">
					</div>
					<div class="slide-text slide-text--presta">
						<p>→ {{ 'swiper-projects.presta.section1.baseline1'|trans }}</p>
						<p>→ {{ 'swiper-projects.presta.section1.baseline2'|trans }}</p>
						<p>→ {{ 'swiper-projects.presta.section1.baseline3'|trans }}</p>
					</div>
                </div>

                <div class="swiper-slide new-swiper-slide">
                   <div class="slide-title">
						<img class="slide-title-image" src="{{ asset('build/images/presta/puyricard-logo.jpg') }}" style="max-width: 100%; width: auto; height: 150%"/>
					</div>
					<div class="slide-image slide-image--presta">
						<img src="{{ asset('build/images/presta/puyricard-img.png') }}"/>
					</div>
					<div class="slide-text slide-text--presta">
						<p>→ {{ 'swiper-projects.presta.section2.baseline1'|trans }}</p>
						<p>→ {{ 'swiper-projects.presta.section2.baseline2'|trans }}</p>
						<p>→ {{ 'swiper-projects.presta.section2.baseline3'|trans }}</p>
					</div>
                </div>

                <div class="swiper-slide new-swiper-slide">
                    <div class="slide-title">
						<img class="slide-title-image" src="{{ asset('build/images/presta/paratamtam-logo.jpg') }}"/>
					</div>
					<div class="slide-image slide-image--presta">
						<img  src="{{ asset('build/images/presta/paratamtam-img.png') }}"/>
					</div>
					<div class="slide-text slide-text--presta">
						<p>→ {{ 'swiper-projects.presta.section3.baseline1'|trans }}</p>
						<p>→ {{ 'swiper-projects.presta.section3.baseline2'|trans }}</p>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
    <script>

    </script>
